.header {
  height: 80px;
  background: rgba(16, 16, 20, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed; /* ✅ já fixo */
  top: 0; /* garante que fique no topo */
  left: 0;
  right: 0;
  z-index: 999; /* para sobrepor o conteúdo */
}

.logo {
  font-weight: 800;
  font-size: 1.4rem;
  color: var(--blue-primary);
  letter-spacing: 1px;
  background: none;
  border: none;
    padding: 0;
    cursor: pointer;
}

.userProfile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--blue-primary);
  padding: 2px;
  box-shadow: 0 0 15px rgba(26, 64, 255, 0.6);
}

.userProfile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}